{% extends "layout.html" %}

{% block content %}
<style>
    .blur-background {
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(10px); 
        z-index: 1; 
    }

    .producto-box {
        background-color: rgba(255, 255, 255, 0.9); 
        padding: 40px; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        max-width: 600px; 
        transition: transform 0.2s; 
        position: relative; 
        z-index: 2; 
        text-align: center; 
        margin: 20% auto; 
    }

    .producto-box:hover {
        transform: scale(1.05); 
    }
</style>

<div class="blur-background"></div>
<div class="producto-box">
    <h1>{{ producto.nombre }}</h1>
    <p><strong>Stock:</strong> {{ producto.stock }}</p>
    <p><strong>Precio:</strong> S/{{ producto.precio }}</p>
</div>
{% endblock %}
